# virtual env
.venv/
venv/

# python cache
__pycache__/
*.pyc

# env variables
.env

# IDE
.vscode/
.idea/

# logs
*.log

# local files
info.txt
infoMistni.txt

# database
*.db

# OS bordel
.DS_Store
Thumbs.db